# Machine Learning On Tennis Data
## Contents
>* [Setup](#0)
>* [Model Fitting](#1)

## 0 - Setup <a class="anchor" id="0"></a>

In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
f = open('train_test_split.pkl', 'rb')
X_train, X_test, y_train, y_test = pickle.load(f)

In [3]:
X_train

,A_rank,B_rank,A_hist_form,A_form,A_court_form,A_surface_form,B_form,B_court_form,B_surface_form,Tournament_ABN AMRO World Tennis Tournament,...,B_Zverev A.,B_Zverev M.,B_de Chaunac S.,B_de Voest R.,B_di Mauro A.,B_di Pasquale A.,B_van Gemerden M.,B_van Lottum J.,B_van Scheppingen D.,B_van der Meer N.
39960,11,9,0.333333,0.200000,1.0,0.0,0.466667,1.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
5803,6,93,1.000000,0.600000,0.0,1.0,0.066667,0.0,1.0,0,...,0,0,0,0,0,0,0,0,0,0
35357,91,52,0.500000,-0.200000,1.0,0.0,-0.466667,1.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
12532,103.0,123.0,0.500000,-0.066667,1.0,0.0,-0.200000,1.0,1.0,0,...,0,0,0,0,0,0,0,0,0,0
51066,40,52,0.500000,-0.200000,1.0,0.0,-0.066667,1.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11323,16,58.0,0.500000,0.066667,0.0,0.0,0.066667,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
44948,58,84,0.500000,0.200000,0.0,1.0,-0.200000,1.0,1.0,0,...,0,0,0,0,0,0,0,0,0,0
38336,73,131,0.500000,-0.200000,1.0,1.0,-0.466667,1.0,1.0,0,...,0,0,0,0,0,0,0,0,0,0
863,448,51,0.500000,0.500000,0.0,0.0,-0.333333,1.0,1.0,0,...,0,0,0,0,0,1,0,0,0,0
15850,72.0,41,0.000000,0.066667,1.0,1.0,-0.066667,1.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
y_train

39960    1
5803     1
35357    1
12532    0
51066    0
        ..
11323    0
44948    0
38336    1
863      0
15850    0
Name: y, Length: 39902, dtype: int64

## 1 - Model Fitting <a class="anchor" id="1"></a>