# Model Testing
## Setup

In [1]:
import pandas as pd
import numpy as np
import pickle

## Reading in Alphas & Mapping To DF

In [2]:
alpha_df = pd.read_pickle(r"K:\Code\Tennis_Betting\2. Model exploration\alphas\mens_alphas.pickle")
alpha_df.dropna(inplace=True)
alpha_df.head()

,,p_dict,x
start,end,,
2017-01-02,2017-04-01,"{'Choinski J.': 0, 'Broady L.': 1, 'Delbonis F...","[0.7239695125774777, 1.069924249476819, 1.0938..."
2002-05-27,2002-05-27,"{'Pretzsch A.': 0, 'Larsson M.': 1, 'Pavel A.'...","[0.800685292740611, 0.964876756885678, 1.52120..."
2012-05-22,2012-05-26,"{'Del Bonis F.': 0, 'Blake J.': 1, 'Delbonis F...","[1.6033600263722116, 0.9296558179990959, 1.334..."
2000-07-10,2000-07-10,"{'Pretzsch A.': 0, 'Larsson M.': 1, 'Pavel A.'...","[1.0469830051536664, 1.7652306826038533, 1.447..."
2013-09-16,2013-09-22,"{'Del Bonis F.': 0, 'Broady L.': 1, 'Blake J.'...","[1.3234143857328917, 0.7012684908314621, 1.191..."

In [3]:
mens_df = pd.read_csv('../data/mens.csv',header=0,parse_dates=["Date"])
mens_df = mens_df[mens_df['Comment']!='Walkover']

cols_to_drop = ['Location','Tournament','Series','Court', 'Surface','Round', 'Best of', 'WRank', 'LRank', 'W1', 'L1','W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5', 'Wsets', 'Lsets','Comment', 'CBW', 'CBL', 'GBW', 'GBL', 'IWW', 'IWL', 'SBW', 'SBL','B365W', 'B365L', 'B&WW', 'B&WL', 'EXW', 'EXL', 'PSW', 'PSL', 'WPts','LPts', 'UBW', 'UBL', 'LBW', 'LBL', 'SJW', 'SJL', 'MaxW', 'MaxL','AvgW', 'AvgL']
mens_df.drop(columns=cols_to_drop,inplace=True)

K:\Programs\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (11,12,15,16,17,18,38) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
dates_list = []
for i,df in mens_df.groupby([mens_df.Date.dt.year,'ATP']):
    dates_list.append((min(df['Date']),max(df['Date'])))
dates_list=list(set(dates_list))

In [5]:
for i,x in alpha_df.iterrows():
    start=i[0];end=i[1];p_dict=x.p_dict; alpha = x.x; alpha[-1]=0.5
    df_slice = mens_df.loc[(mens_df['Date']<=end) & (mens_df['Date']>=start),:]
    mens_df.loc[(mens_df['Date']<=end) & (mens_df['Date']>=start),'w_alpha'] = alpha[df_slice['Winner'].map(p_dict).fillna(-1).astype('int')]
    mens_df.loc[(mens_df['Date']<=end) & (mens_df['Date']>=start),'l_alpha'] = alpha[df_slice['Loser'].map(p_dict).fillna(-1).astype('int')]

In [6]:
mens_df.dropna(inplace=True)
mens_df

       ATP       Date        Winner             Loser   w_alpha   l_alpha
155      6 2000-01-17     Agassi A.         Puerta M.  0.500000  2.011340
156      6 2000-01-17      Alami K.          Manta L.  0.500000  1.504490
157      6 2000-01-17      Arazi H.         Alonso J.  1.133794  0.500000
158      6 2000-01-17    Behrend T.       Meligeni F.  0.919816  2.179620
159      6 2000-01-17   Bjorkman J.    Stoltenberg J.  1.142161  1.738549
...    ...        ...           ...               ...       ...       ...
53169   22 2020-10-07  Tsitsipas S.         Rublev A.  1.475698  1.561433
53170   22 2020-10-07   Djokovic N.  Carreno Busta P.  1.651171  0.983119
53171   22 2020-10-09      Nadal R.    Schwartzman D.  2.011917  1.446942
53172   22 2020-10-09   Djokovic N.      Tsitsipas S.  1.651171  1.475698
53173   22 2020-10-11      Nadal R.       Djokovic N.  2.011917  1.651171

[15823 rows x 6 columns]

## Testing Model Accuracy

In [7]:
mens_df['Correct'] = mens_df['w_alpha'] > mens_df['l_alpha']
mens_df['Correct'].mean()

0.6522783290147254

In [9]:
mens_df['p'] = mens_df[['w_alpha','l_alpha']].max(axis=1)/(mens_df['w_alpha']+mens_df['l_alpha'])

In [14]:
for p_threshold in [0.5,0.6,0.7,0.8,0.9]:
    accuracy = round(mens_df[mens_df['p']>p_threshold]['Correct'].mean(),2)
    print("Betting on games which we are over ",p_threshold,"confident in gives",accuracy,"% accuracy")

Betting on games which we are over  0.5 confident in gives 0.65 % accuracy
Betting on games which we are over  0.6 confident in gives 0.77 % accuracy
Betting on games which we are over  0.7 confident in gives 0.76 % accuracy
Betting on games which we are over  0.8 confident in gives 0.74 % accuracy
Betting on games which we are over  0.9 confident in gives 0.62 % accuracy